.rewards-breadcrumbs {
    padding-left: 50px;
    padding-top: 10px;
}

.rewards-breadcrumbs a {
    text-decoration: none;
    color: #666;
}

.rewards-breadcrumbs a:hover {
    color: #29C282;
}

.rewards {
    padding: 50px;
}

.rewards-card-select{
    width: 100%;
    height: 150px ;
    box-shadow: 2px 1px 5px 2px rgba(0,0,0,0.26);
}

.rewards-button-cancel {
    width: 80px;
    height: 40px;
    margin-top: 50px !important;
    background-color: #fff !important;
    color: #333 !important;
}

.rewards-button-submit {
    margin-left: 20px !important;
    margin-top: 50px !important;
    background-color: #ED6C02 !important;
}

.rewards-button-select {
    background-color: #ED6C02 !important;
    height: 40px !important;
    color: #fff !important;
    box-shadow: 2px 1px 5px 2px rgba(0,0,0,0.26);

}

.css-dev-only-do-not-override-15rg2km {
    border: 1px solid #aaaaaa !important;
}

.css-dev-only-do-not-override-15rg2km:hover {
    border: 1px solid #333 !important;
}

.css-dev-only-do-not-override-15rg2km:focus {
    border: 1px solid #0066FF !important;
}